<html>
	<head>
		<link rel='stylesheet' type='text/css' href='resources/styles.css'>
		<link rel="stylesheet" type='text/css' href='bower_components/font-awesome/css/font-awesome.min.css'>

		<script type='text/javascript' src ='bower_components/angular/angular.min.js'></script>
		<script type='text/javascript' src ='bower_components/angular-route/angular-route.min.js'></script>

		<script type='text/javascript' src='/socket.io/socket.io.js'></script>

		<script type='text/javascript' src='angular/app.js'></script>
		<script type='text/javascript' src='angular/directives/dialogDirective.js'></script>
		<script type='text/javascript' src='angular/services/listService.js'></script>
		<script type='text/javascript' src='angular/services/peerService.js'></script>
		<script type='text/javascript' src='angular/services/pollService.js'></script>
		<script type='text/javascript' src='angular/services/popUpService.js'></script>
		<script type='text/javascript' src='angular/services/docService.js'></script>
		<script type='text/javascript' src='angular/services/sentenceService.js'></script>
		<script type='text/javascript' src='angular/services/explanationService.js'></script>
		<script type='text/javascript' src='angular/factories/socketFactory.js'></script>
		<script type='text/javascript' src='angular/factories/bookFactory.js'></script>
		<script type='text/javascript' src='angular/factories/promptFactory.js'></script>
		<script type='text/javascript' src='angular/factories/intervalFactory.js'></script>
		<script type='text/javascript' src ='angular/controllers/omniOptionsController.js'></script>
		<script type='text/javascript' src ='angular/controllers/libraryController.js'></script>
		<script type='text/javascript' src ='angular/controllers/connectOptionsController.js'></script>
		<script type='text/javascript' src ='angular/controllers/pageArenaController.js'></script>
		<script type='text/javascript' src ='angular/controllers/promptController.js'></script>


		<title>ProsePair I/O</title>

		<meta charset='UTF-8'>
		<meta name='description' content='Craft stories, turn-based-style, with friends and strangers'>
		<meta name='keywords' content='prose, pair, i/o, socket, web, application, writing, prompt, game'>
		<meta name='author' conent='Philip Cheek'>
	</head>
	<body ng-app='prosePair'>
		<div id = "outerContainer">
			<div ng-controller = "omniOptionsController">
				<div id = "header">
					<h1>Prose Pair I/O</h1>
				</div>
				<div id = 'menuRow'>

					<div class = "menuItem" id ='library' ng-click = "omniSwitch('l')" ng-mouseover = "hoverU = true" ng-mouseleave = "hoverU = false">
						<p class = "menuIcon" ng-if = "!hoverU">
							<i class = 'fa fa-university' aria-hidden='true'></i>
						</p>
						<p ng-if = "hoverU" class = "menuAlt">Browse</p>
					</div>

					<div class = "menuItem" id="proseGo" ng-click = "omniSwitch('p')" ng-mouseover = "hoverP = true" ng-mouseleave = "hoverP = false">
						<p class = "menuIcon" ng-if="!hoverP">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</p>
						<p  ng-if = "hoverP" class = "menuAlt">Prose Go</p>
					</div>

					<div class = "menuItem" id="proseGo" ng-click = "omniSwitch('pr')" ng-mouseover = "hoverPr = true" ng-mouseleave = "hoverPr = false">
						<p class = "menuIcon" ng-if = "!hoverPr">
							<i class="fa fa-book" aria-hidden="true"></i>
						</p>
						<p ng-if = "hoverPr" class = "menuAlt">Prompts</p>
					</div>

					<div class = "menuItem" id="moreMenu">
					</div>
					<span id = "stretch"></span>
				</div>
			
				<div id = "thing">
					<dialog-directive show='modalShown' width = "{{modalContent.width}}" height = "{{modalContent.height}}">
						<div class = 'modContent'>
							<h3>{{modalContent.message}}</h3>
							<h2 class = 'modTitle'>{{modalContent.title}}</h2>
							<p class = 'authoredByMod'>{{modalContent.authorString}}</p>
							<div class = 'viewBox' ng-if = "modalContent.format && modalContent.format == 'view'">
								<div class = 'pageBox'>
									<div class = 'cBox'>
										<p ng-repeat = 'paragraph in modalContent.currentBody track by $index'>{{paragraph}}<span class = 'contText' ng-if= '$index == modalContent.currentBody.length - 1 && modalContent.page < modalContent.cap - 1' ng-click = 'pageFlip(1)'> ...Click to continue...</span></p>
									</div>
								</div>

								<div ng-if = 'modalContent.cap > 1' id = 'pageButts'>
									<button ng-disabled = 'modalContent.page < 1' ng-click = 'pageFlip(-1)'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
									{{modalContent.page + 1}}/{{modalContent.cap}}
									<button ng-disabled = 'modalContent.page == modalContent.cap - 1' ng-click = 'pageFlip(1)'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
								</div>

							</div> 
							<div class = 'doneBox' ng-if= "modalContent.format && modalContent.format == 'done'">
								<p ng-repeat = 'part in modalContent.body' ng-class = "{'italTitle':part.ital == true, 'breakUnder': part.ital == false}">{{part.text}}{{part.ital}}</p>

								<p ng-if = 'loading.status'>{{loading.text}}</p>

								<div class = 'buttonMod' ng-if = 'modalButton'>
									<button class = 'modButt' ng-click = 'dialogButtonClicked(button.path)' ng-repeat = 'button in buttons' ng-click = 'button.path'>
										{{button.name}}
									</button>
							</div>
						 </div>

					</dialog-directive>

  				</div>
  			
			</div>

			<div class = 'partial' ng-view = ""></div>
			
		</div>
	</body>
</html>