<div class = "prompt" ng-controller = "promptController">

	<div id = "addPromptBox">
		<h1 class = 'curTitle'>Add a prompt!</h1>
		<p>{{error}}</p>

		<textarea class = "wideNarrow" type = "text" ng-change = 'userTyping()' ng-model = "newPrompt.text"></textarea>

		<p class = 'charWarning' ng-class = "{'danger': charLeft < 15}">{{charLeft}} characters left.</p>
		<button ng-disabled = '!newPrompt.text || newPrompt.text.length < 15' ng-click = "addPrompt()">Add</button>
	</div>

	<div id = "allPromptBox" class = 'whiteBox'>

		<h1>All Prompts By {{sortInfo.method}}</h1>

		<table>
			<tr>
				<th></th>
				<th>Prompt</th>
				<th> 
					<a ng-click = "sortBy('Points')" class = 'thOption' ng-class = "{'tabSel': sortInfo.method == 'Points'}">
						Points<i class = "adWay" ng-if = "sortInfo.method == 'Points'" ng-class="{'fa fa-sort-desc':sortInfo.way == 'descending', 'fa fa-sort-asc':sortInfo.way == 'ascending'}" aria-hidden="true"></i>
					</span>
				</th>
			    <th class = 'dAdded'>
			    	<a ng-click = "sortBy('Date Added')" class = 'thOption' ng-class = "{'tabSel': sortInfo.method == 'Date Added'}">
			    		Date Added<i ng-if = "sortInfo.method == 'Date Added'" class ='adWay' ng-class= "{'fa fa-sort-desc':sortInfo.way == 'descending', 'fa fa-sort-asc':sortInfo.way == 'ascending'}" aria-hidden="true"></i>
			    	</a>
			    </th>
			</tr>
			<tr ng-repeat = 'prompt in prompts'>
				<td>
					<div id = "pLikeBox">
						<i ng-click = "getFeedback(prompt, true)" ng-class= "{'fa fa-thumbs-up': prompt.liked, 'fa fa-thumbs-o-up': !prompt.liked}" aria-hidden="true"></i><br>
						<i ng-click = "getFeedback(prompt, false)" ng-class= "{'fa fa-thumbs-down': prompt.disliked, 'fa fa-thumbs-o-down': !prompt.disliked}" aria-hidden="true"></i><br>
					</div>

				</td>
				<td>
					<p>{{prompt.text}}</p>
					<p class = "authoredBy">- by {{prompt.author}}</p>
				</td>
				<td>
					{{prompt.likeTally}}<i class="smallStar fa fa-star" aria-hidden="true"></i>
				<td class = 'dAdded'>
					{{prompt.dateAdded}}
				</td>
			</tr>
		</table>

		<div id = 'backNextBox'>
			<button id = 'back'  ng-disabled = 'min' ng-click = 'changePage("backward")'>
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
			</button>

			<button id = 'next' ng-disabled = 'max' ng-click = 'changePage("forward")'>
				<i class="fa fa-arrow-right" aria-hidden="true"></i>
			</button>
		</div>
	</div>