*{
	padding:0;
	font-family: "Lucida Console", Monaco, monospace;
	margin:0;
}

body{
	height: 100vh;
}
#outerContainer{
	position:relative;
}
#header{
	height:6em;
	width: 100%;
	border-top:4px solid;
	border-bottom:4px solid;
	margin:0 auto;
}
	#header h1{
		text-align: center;
		margin-top:1em;
	}


#menuRow{
	border: 2px dashed #444;
    height: 4em;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    word-spacing:-10px;
    max-width:42em;
    min-width: 26em;
    margin:0 auto;
}
	.menuItem{
		width: 6.5em;
    	height: 4em;
    	vertical-align: top;
    	display: inline-block;
    	*display: inline;
    	zoom: 1;
    	cursor:pointer;
	}
		#library, #login{
			background-color: gray;
		}

		#proseGo, #moreMenu{
			background-color: lightgray;
		}

		.menuIcon{
			font-size: 3.3em;
			text-align: center;
			margin-top: .12em;
		}

		.menuAlt{
			font-size:1em;
			margin-top:1em;
			text-align:center;
		}

	#stretch {
    	width: 100%;
    	display: inline-block;
    	font-size: 0;
    	line-height: 0
	}


.dialogDarken {
  position:fixed;
  z-index:9999;
  top:0;
  height:100vh;
  width:100%;
  background-color:#000000;
  opacity: 0.5;
}

.dialogBox {
  z-index:10000;
  position: fixed;
  width: 50%; 
  top: 48vh;
  left: 50%;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
	.dalogContent {
	  padding:10px;
	  text-align: left;
	}
	.dialogClose {
	  position: absolute;
	  top: 3px;
	  right: 5px;
	  padding: 5px;
	  cursor: pointer;
	  font-size: 120%;
	  display: inline-block;
	  font-weight: bold;
	  font-family: 'arial', 'sans-serif';
	}

#sentenceBox{
  width:40em;
  height:7em;
  resize:none;
  overflow-y:scroll;
}

#proseBox{
	width:32.5em;
    height:20em;
    border:1px dotted black;
    overflow-y:scroll;
    display:inline-block;
    vertical-align: top;
    margin:0em;
}

	#proseBox p{
		margin:.5em;

	}
#sideBox{
	width:14em;
	height:20em;
	border:1px dotted black;
	display:inline-block;
	vertical-align: top;
	padding:0em;
	margin:0em;
	background-color: lightgray;
	position:relative;
}
	.sideText {
		font-size: .9em;
		margin-top: .5em;
	}
	#timeBox{
 		width: 10.3em;
  		max-height:6.5em;
  		min-height:5em;
 		border:.2em solid black;
 		margin: 0 auto;
  		margin-top: 1em;
	}

		#timeBox .sideText{
			text-align: center;
			margin-left:.1em;
			margin-right:.1em;
		}

		#secBox{
		  margin: 0 auto;
		  margin-top:.5em;
		  height:2.3em;
		  background-color:white;
		  width:8em;
		  border-radius:.8em;
		  
		}

		#secBox #timer{
		  font-size:1.5em;
		  text-align: center;
		}


		.arenaBottom{
			position:absolute;
			bottom:0em;
			height:9em;
			width:100%;
		}

			#arenaCon{
				margin:0 0 0 0;
			}

				.arenaBottom #left{
					position:absolute;
					font-size:8em;
					left:.17em;
					bottom:.1em;
					color: rgba(0, 0, 0, 0.25)
				}
				.arenaBottom #right{
					position:absolute;
					right:.17em;
					bottom:0em;
					font-size:7.5em;
					opacity:12%;
					color: rgba(0, 0, 0, 0.25)
				}




#friendBox .sideText, #friendBox ul{
	margin-left:.7em;
	margin-top: .8em;
}

#titleBox{
	border:1px dotted black;
	width:32.5em;
	height:3.89em;
	display:inline-block;
	vertical-align: bottom;
}

	#titleBox .charleft{
		font-size: .8em;
	}

	#titleBox #titleInput{
		display:inline-block;
		margin-top:0em;
	}

		#titleBox #titleInput input{
			padding: .4em;
			font-size: 1em;
			width:15em;
		}

	#titleBox #titlePoll{
		display:inline-block;
	}
		#titlePoll button{
			height:1.7em;
			width:1.7em;
			font-size:1.5em;
			margin-top: .2em;
		}


#nextBox{
	display:inline-block;
	width:14em;
	position: relative;
	height:1.3em;
}

	#nextBox button{
		position: absolute;
		right:1em;
		padding:.8em;
		font-size: 1em;
		bottom:0;
	}
.tabSel{
	color:blue;
}
.blueIcon{
	color: blue;
}

.danger{
	color:red !important;
}

.prompt{
	padding:.3em;
	max-width: 50em;
	margin: 0 auto;
}
	#addPromptBox{
		width:30em;
		margin:0 auto;
	}
		.wideNarrow{
			width:43em;
			min-height:6em;
			max-height:7em;
			resize:none;
			padding:1em;
			margin-top:1em;
		}

		#addPromptBox .charWarning{
			font-size:.8em;
			color:gray;
			display:inline-block;
			margin-left: 21.1em;
		}

		#addPromptBox button{
			display: inline-block;
			font-size:.85em;
			padding:.4em;
			margin-top: .5em;
		}

	#allPromptBox{
		width:50em;
		margin: 0 auto;
		margin-top:1.5em;
	}

		#allPromptBox table{
			margin-top:.38em;
		}
		#allPromptBox tr, #allPromptBox td, #allPromptBox th{
			border:1px solid black;
			padding:.5em;
		}


		#allPromptBox table th{
			font-size: 1.15em;
			font-weight:bold;
		}
			.dAdded{
				white-space: nowrap;
			}

		#allPromptBox table tbody tr:nth-child(even){
			background-color: lightgray;
		}

		#allPromptBox table tbody tr{
			/*max-width: 15em;*/
		}
		.thOption{
			text-decoration: underline;
			cursor: pointer;
		}

		#allPromptBox .authoredBy{
			font-size: .8em;
			font-style: italic;
			margin-left: 29em;
		}

		#likeBox{
			padding:.1em;
			font-size: 1.5em;
			cursor: pointer;
		}

		#backNextBox{
			width:50em;
			margin-top:.35em;
			height:2.4em;
			position:relative;
		}

			#backNextBox button{
				padding:.3em;
				font-size: 1.5em;
			}

			#backNextBox #next{
				margin-left:30em;
				position: absolute;
				top:0;
				right:0;
			}

#proseArena{
	width:50em;
	margin: 0 auto;
}

	#promptBox{
		width:45em;
		margin: 0 auto;
		margin-bottom: .7em;
	}
		#promptBox #contentBox{
			display:inline-block;
			width:40em;
		}

		#promptBox #authoredBy{
			margin-left: 38em;
			font-size: .8em;
			font-style: italic;
		}

		#promptBox #likelyBox{
			display:inline-block;
			font-size:1.7em;
			height:3em;
			vertical-align: top;
			padding-top: 1.2em;
		}

			#prompt #likelyBox .liking{
				margin-bottom: .8em
			}

.modContent{
	margin:2em;
}
	.modtitle{
		text-align: center;
		margin-bottom: 1em;
	}
	.italTitle{
		font-size: .85em;
		font-style: italic;
	}

	.breakUnder{
		margin-bottom: 2em;
	}

	.modContent .buttonMod{
		text-align:center;
	}
		.modContent .modButt{
			margin: 1em;
			padding: 1em;
		}

	.viewBox .pageBox{
		border: .3em dotted black;
		height:35em !important;
		overflow-y:scroll;
		z-index: 0 !important;
		font-size:.85em;
	}

		.viewBox .pageBox .cBox{
			margin: .8em;
			font-size: .9em;
		}

	.viewBox #pageButts{
		text-align: center;
		font-size: 1em;
		width:6em;
		margin-top:.35em;
		margin: 0 auto;
		background: white;
		margin-top: .24em;
		z-index: 2 !important;
		height:1.8em;
		border:1px solid gray;
	}

	.authoredByMod{
		font-size:.78em;
		margin-top:-1.95em;
		text-align: center;
		margin-bottom: .6em;
		font-style: italic;
	}

.lib table *{
	border: 1px solid;
}

.lib table{
	max-width: 45em;
}

