@import 'https://fonts.googleapis.com/css?family=Satisfy|Oranienbaum';

*{
	padding:0;
	font-family: 'Oranienbaum', serif;
	margin:0;
}

body{
	height: 100%;
	background: #f4f4f4;
}

button:hover{
	cursor:pointer;
}

.customDisabled{
	opacity:.1;
}

.curTitle{
	font-family: 'Satisfy', cursive;
}

.connectPartial{
	min-width:30em;
	max-width:50em;
	margin:0 auto;
	height: 80vh;
}
	.er{
		text-align:center;
		color: red;
		font-size:.8em;
		font-style:italic;
	}
	.connectPartial h1{
		text-align: center;
		margin-bottom: 3%;
	}
	.connectPartial input{
		padding:.5em;
		font-size: .8em;
	}

	.connectPartial button{
		padding:.2em;
		font-size: 1em;
	}

	.connectPartial .enter{
		height:0;
		overflow: hidden;
		transition:height .5s;
		max-width:18em;
		margin: 0 auto;
		font-size: 1.3em;

	}
		.connectPartial .nEnter{
			height:3em !important;
			overflow: hidden;

		}

		.connectPartial .nEnter input{
			height: 1.3em;
			width:1.3 em;
		}

	#loadingGear{
		font-size:30em;
		text-align: center;
		opacity:.14;
	}
	#connectBoxes{
		width:95%;
		margin: 0 auto;
		height:70%;
		overflow: hidden;
	}

		.conBox{
			display: inline-block;
			width:47%;
			border:.3em dashed gray;
			height: 80%;
			text-align: center;
		}

			.conBox button{
				margin-top:3.3%;
				font-size: calc(100% * 2);
				transition:background-color 2s ease, 
			}

			#proseSelect{
				margin-right: 3%;
				vertical-align: top;
				transition:border .2s ease, margin-right .2s ease, color .2s ease;
			}

				.pHovered{
					cursor:pointer;
					border:.4em dashed #4B77BE;
					margin-right:.2em !important;
					color:#D24D57;
				}

				.pHovered .icon #lP, .pHovered .icon #rP{
					opacity:.7;
				}

				.pHovered button{
					color:#4B77BE;
					border:0;
					background: rgba(0,0,0,.0);
				}

				.pSelect{
					border:.2em dashed #4B77BE;
					margin-right:3% !important;
					background: rgba(75, 119, 190, .08);
				}

			#lightningSelect{
				transition:color .1s ease, border .1s ease, margin-left .1s ease;
			}

				.lHovered{
					cursor: pointer;
					color:#F5AB35;
					border:.4em dashed #D24D57;
					margin-left: -.7em;
				}

					.lHovered button{
						background: rgba(0,0,0,0);
						border:none;
						color:#D24D57;
					}

				.lSelect{
					border:.2em dashed #D24D57;
					margin-left:0 !important;
					background: rgba(210, 77, 87, .1)
				}

				.icon{
					font-size: calc(100% * 10);
					position: relative;
					height:57%;
					margin: 6%;
				}

					#lP{
						position: absolute;
						top:-3.5%;
						left:15%;
						opacity: .25;
						transition:opacity .3s ease;
					}

					#rP{
						position: absolute;
						top:1%;
						left:42%;
						opacity: .25;
						transition:opacity .3s ease;
					}

					.pHovered .icon{
						opacity:.8;
					}

					#lL, #rl{
						position: absolute;
						font-size:calc(76%);
						top:12%;
						opacity: .25;
						transition:opacity .3s ease;
					}


					#lL{
						left:12%;

					}

					#mL{
						position: absolute;
						left:35%;
						opacity: .25;
						transition:opacity .3s ease;
					}

					#rL{
						left:63%;
					}

					.lHovered #lL, .lHovered #rL, .lHovered #mL{
						opacity:.7;
					}




#partial{
	position:absolute;
	top:6em;
	width:100%;
};

#outerContainer{
	position:relative;
}


#header{
	height:6em;
	width: 100%;
	background: linear-gradient(#C4313D, #D65C66);
	z-index:3;
	box-shadow:	0px 7px 3px 1px rgba(0,0,0,0.3);
	position:fixed;
	top:0;
}
	
	#headContain{
		position: relative;
		max-width:80%;
		margin: 0 auto;
	}

		#header h1{
	
			font-family: 'Satisfy', cursive !important;
			font-size:2.8em;
			position:absolute; 
			top:.6em; 
		}


		#menuRow{
			position: absolute;
			right:0;
			top:1.2em;
		}

	.menuItem{
		width: 6.5em;
    	height: 4em;
    	vertical-align: top;
    	display: inline-block;
    	cursor:pointer;
    	position:relative;
    	color:black;
    	border-radius: 20%;
    	transition: box-shadow .8s;
	}
		.menuSelected{
			box-shadow: 5px 8px 2px 2px rgba(0, 0, 0, 0.1);
		}


		.menuIcon{
			font-size: 3.3em;
			margin-left: .5em;
			margin-top: .12em;
			transition: color .3s, opacity .3s;
		}

		.backIcon{
			opacity:0.3;
			position: absolute;
			font-size:3.3em;
			color:white;
			top:.0em;
			left:0em;
			z-index:0;
			/*transition: color .5s, opacity .5s;*/

		}

		.menuAlt{
			position: absolute;
			font-size:1.4em;
			left:15%;
			margin-top: 20%;
			z-index:1;
			font-family: 'Satisfy', cursive;

		}


.dialogDarken {
  position:fixed;
  z-index:9999;
  top:0;
  height:100vh;
  width:100%;
  background-color:#000000;
  opacity: 0.5;
}

.dialogBox {
  z-index:10000;
  position: fixed;
  width: 50%; 
  top: 48vh;
  left: 50%;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
	.dalogContent {
	  padding:10px;
	  text-align: left;
	}
	.dialogClose {
	  position: absolute;
	  top: 3px;
	  right: 5px;
	  padding: 5px;
	  cursor: pointer;
	  font-size: 120%;
	  display: inline-block;
	  font-weight: bold;
	  font-family: 'arial', 'sans-serif';
	}

#sentenceBox{
  width:32em;
  height:5em;
  margin-top: .3em;
  resize:none;
  overflow-y:scroll;
  padding:.35em;
  border:none;
  box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);
  padding:.3em;
  font-size: 1em;

}

#proseBox{
	width:31.5em;
    height:19.5em;
    padding:.35em;
    background: white;
    overflow-y:scroll;
    display:inline-block;
    vertical-align: top;
    margin:0em;
    border-radius: 3%;
    box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);

}

	#proseBox p{
		margin:.5em;

	}
#sideBox{
	width:14em;
	height:19.75em;
	border-radius:2%;
	border:.35em solid;
	display:inline-block;
	vertical-align: top;
	padding:0em;
	margin:0em;
	margin-left: .35em;
	position:relative;
}
	.sidePair{
		border:.25em dotted;
		color:#4B77BE;
		background:rgba(75, 119, 190, .08);
		box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);

	}
	.sideText {
		font-size: .9em;
		margin-top: .5em;
		margin-right: .1em;
	}
	#timeBox{
 		width: 10.3em;
  		max-height:6.5em;
  		min-height:5em;
 		margin: 0 auto;
  		margin-top: 1em;
	}

		#timeBox .sideText{
			text-align: center;
			margin-left:.1em;
			margin-right:.1em;
		}

		#secBox{
		  margin: 0 auto;
		  margin-top:.5em;
		  height:2.3em;
		  background-color:white;
		  width:8em;
		  border-radius:.8em;
		  
		}

		#secBox #timer{
		  font-size:1.5em;
		  text-align: center;
		}


		.arenaBottom{
			position:absolute;
			bottom:0em;
			height:9em;
			width:100%;
		}

			#arenaCon{
				margin:0 0 0 0;
			}

				.arenaBottom #mleft{
					position:absolute;
					font-size:8em;
					left:.17em;
					bottom:.1em;
					color:#D24D57;
					opacity:.5;
				}
				.arenaBottom #mright{
					position:absolute;
					right:.17em;
					bottom:0em;
					font-size:7.5em;
					color:#D24D57;
					opacity:.5;
				}



#friendBox .sideText, #friendBox ul{
	margin-left:.7em;
	margin-top: .8em;
}

#titleBox{
	width:32.5em;
	height:3.89em;
	display:inline-block;
	vertical-align: bottom;
	position:relative;
}

	#titleBox .charleft{
		font-size: .8em;
	}

	#titleBox #titleInput{
		display:inline-block;
		margin-top:0em;
	}

		#titleBox #titleInput input{
			padding: .4em;
			font-size: 1em;
			width:15em;
			border:none;
			box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);
		}

	#titleBox #titlePoll{
		position:absolute;
		left:18.5em;
		top:.4em;
	}
		#titlePoll button{
			font-size:1.5em;
			transition:font-size 1s;
		}

		#explanationArea{
			padding:.3em;
			border-radius:14%;
			width:31em;
			background: white;
			border: .3em solid #4B77BE;
			margin-top: .2em;
			margin-bottom: .3em;
			box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);
			color: #4B77BE;

		}


#nextBox{
	display:inline-block;
	width:14em;
	position: relative;
	height:1.3em;
	margin-bottom: .45em;
}

	#nextBox button{
		position: absolute;
		right:.35em;
		padding:.8em;
		font-size: 1em;
		bottom:0;
		border-radius:6%;
		border:none;
		background: rgba(0,0,0,0);
	}
.tabSel{
	color:#4B77BE;
	text-decoration: underline;
}
.blueIcon{
	color: blue;
}

.danger{
	color:#D24D57 !important;
}

.prompt{
	padding:.3em;
	max-width: 50em;
	margin: 0 auto;
}
	#addPromptBox{
		width:30em;
		margin:0 auto;
	}
		.wideNarrow{
			width:43em;
			min-height:6em;
			max-height:7em;
			resize:none;
			padding:1em;
			margin-top:1em;
			border:none;
			box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);

		}

		#addPromptBox .charWarning{
			font-size:.8em;
			color:gray;
			display:inline-block;
			margin-left: 26em;
		}

		#addPromptBox button{
			display: inline-block;
			font-size:.85em;
			padding:.4em;
			margin-top: .5em;
			border-radius: 10%;
			background: lightgray;
		}

	#allPromptBox{
		width:50em;
		margin: 0 auto;
		margin-top:1.5em;
	}

		#allPromptBox table{
			margin-top:.38em;
		}
		#allPromptBox tr, #allPromptBox td, #allPromptBox th{
			padding:.5em;
		}


		#allPromptBox table th{
			font-size: 1.15em;
			font-weight:bold;
		}
			.dAdded{
				white-space: nowrap;
			}

		#allPromptBox table tbody tr:nth-child(even){
			background-color: rgba(75,119,190,.1);
		}

		#allPromptBox table tbody tr td:nth-child(3){
			min-width:5em;
		}

		#allPromptBox table tbody tr td:nth-child(2){
			min-width:33.7em;
		}


		#allPromptBox table tbody tr td{
			position: relative;
		}

		.thOption{
			text-decoration: none;
			cursor: pointer;
		}

		#allPromptBox .authoredBy{
			font-size: .8em;
			font-style: italic;
			text-align: right;
			
		}

		.likeBox{
			padding:.1em;
			font-size: 1.5em;
			cursor: pointer;
		}

		#backNextBox{
			width:50em;
			margin-top:.35em;
			height:2.4em;
			position:relative;
		}

			#backNextBox button{
				padding:.3em;
				font-size: 1.5em;
			}

			#backNextBox #next{
				margin-left:30em;
				position: absolute;
				top:0;
				right:0;
			}

#proseArena{
	width:50em;
	margin: 0 auto;
}

	#proseArena #promptBox{
		max-width:45em;
		margin: 0 auto;
		padding-bottom: 0em;
		margin-bottom: .7em;
		min-height:5em;
	}
		#promptBox #contentBox{
			display:inline-block;
			width:40em;
		}

		#promptBox #authoredBy{
			margin-left: 38em;
			font-size: .8em;
			font-style: italic;
		}

		#promptBox #likelyBox{
			display:inline-block;
			vertical-align: top;
			padding-top: 1.2em;
			font-size:2em;
			margin-top: -1.3em;
		}

			#promptBox #likelyBox i{
				transition:font-size .3s;

			}
			#promptBox #likelyBox i:hover{
				transition:font-size .3s;
				font-size:1.5em;
				cursor: pointer
			}



		#titlePoll .poll{
			background: none;
			border:1px lightgray dotted;
			border-radius: 30%
		}

		#titleStyle{
			font-family: 'Satisfy', cursive;
			font-size: 1.5em
		}

		#titlePoll .poll:hover{
			font-size: 3em;
		}

		.x{
			color:#C0392B;
		}

		.check{
			color:#3FC380;
		}

		#titleUnder{
			position: absolute;
			right:18.3em;
		}

.modContent{
	margin:2em;
}
	.modtitle{
		text-align: center;
		margin-bottom: 1em;
	}
	.italTitle{
		font-size: .85em;
		font-style: italic;
	}

	.breakUnder{
		margin-bottom: 2em;
	}

	.modContent .buttonMod{
		text-align:center;
	}
		.modContent .modButt{
			margin: 1em;
			padding: 1em;
		}

	.viewBox .pageBox{
		border: .3em dotted black;
		height:35em !important;
		overflow-y:scroll;
		z-index: 0 !important;
		font-size:.85em;
	}

		.viewBox .pageBox .cBox{
			margin: .8em;
			font-size: 1.1em;
		}
			.viewBox .pageBox .cBox p{
				margin-bottom:1em;
			}

	.viewBox #pageButts{
		text-align: center;
		font-size: 1em;
		width:6em;
		margin-top:.35em;
		margin: 0 auto;
		background: white;
		margin-top: .24em;
		z-index: 2 !important;
		height:1.8em;
		border:1px solid gray;
	}

	.authoredByMod{
		font-size:.78em;
		margin-top:-1.95em;
		text-align: center;
		margin-bottom: .6em;
		font-style: italic;
	}

.lib{
	max-width:55em;
	margin:0 auto;
}
.whiteBox{
	background: white;
	margin-top: 2%;
	padding:1.8em;
	border-radius: 5%;
	box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);
	margin-bottom: 1em;
}
	#libBox h1{
		text-align: center;
		font-size: 2.6em;
	}

	/*.lib table *{
		border:1px solid;
	}*/

	.lib table th{
		font-size: 1.8em;
	}

	.lib table tr td{
		padding-bottom:1.4em;
	}

	.lib table th:nth-child(2){
		text-align: left;
	}

	.lib table th:nth-child(3){
		min-width:3em;
	}
	.lib table td:first-child{
		min-width: 3em;
	}

	.lib h3{
		color:#4B77BE;
		font-size:1.6em;
		transition:font-size .5s;
		text-decoration: underline;
	}

	.lib h3:hover{
		cursor:pointer;
		font-size:2.3em;
	}

	.lib .authoredBy{
		font-style: italic;
	}

	.pLeft{
		font-size: 8em;
	}

	.tally{
		font-size: 1.3em;
		text-align: center;
	}

	.libStar{
		color:#F7CA18;
	}

	.lib .adWay{
		color:pink;
		font-size: .8em;
	}

	#bottButton{
		width:95%;
		margin: 0 auto;
		position: relative;
	}
		.lib button{
			font-size: 1em;
		}

		.lib .bBack{
			position: absolute;
			left:0;
		}

		.lib .bNext{
			position: absolute;
			right:0;
		}

		.lib .likeBox i{
			transition:font-size .4s;
		}

		.lib .likeBox i:hover{
			font-size:1.25em;
		}

		.conText{
			color:#4B77BE;
			text-decoration: underline;
		}

		.conText:hover{
			cursor:pointer;
		}

#wBox .charLeft{
	margin-left: 24.3em;
}

#enterButtons{
	display: inline-block;
	margin-left:33.5em;
	margin-top:-5.8em;
}

#enterButtons button{
	font-size: 1em;
	padding:.3em;
	border:.05em dashed gray;
	background: none;
	border-radius: 8%
}
	
#enterButtons #enterText{
	font-size:1.3em;
	margin-top: .3em;
	background: #4B77BE;
	color:#f4f4f4;
	border:none;
	box-shadow:6px 8px 3px -2px rgba(0,0,0,0.25);

}

#pLikeBox i{
	transition:font-size .3s;
}

#pLikeBox i:hover{
	cursor:pointer;
	font-size:1.5em;
}


