<div class = "connect" ng-controller = "connectOptionsController">
	<div class = "outlineBox">
		<p ng-if = "options.loading == false" class = 'explanationType'>{{explanationText}}</p>
		<div ng-if = "options.nicknameEnter == false && options.loading == false" class = 'connectOptions'>
			<div id = "buttonBox">
				<button ng-disabled = "options.prosepair" ng-click = 'options.prosepair = true'>Prose Pair</button>
				<button ng-disabled = "!options.prosepair" ng-click = 'options.prosepair = false'>Lightning Round</button>
			</div>

			<div class = 'explanationBox'>
				<div id = "optionBox"></div>
					<p ng-if = 'options.prosepair'>2 players. Sentence by sentence.</p>
					<p ng-if = '!options.prosepair'>3-5 players. Word by word.</p>
				</div>

				<button ng-click = 'lesConnect()'>Go</button>
			</div>
		</div>
		{{errInfo.error}}

		<div ng-if= "options.nicknameEnter == true && options.loading == false" class = 'nicknameBox'>
			Nickname: <input type = "text" ng-model = "options.nickname" ng-change = "isRepeat()">
			<button ng-disabled = "!options.nickname || options.nickname.length < 3 || errInfo.isError" ng-click = 'lesConnect()'>Connect</button>
		</div>


		<div id = 'loading' ng-if = "options.loading == true">
			<p>{{loadingText}}</p>
		</div>

	</div>
</div>