<div ng-controller = 'libraryController' class = 'lib'>
	<h2>Library</h2>
	<h7>All 'Books' by {{sortMethod}}</h7>
	<table>
		<tr>
			<th></th>
			<th>BookInfo</th> 
			<th>Points</th>
				<a ng-click = "sortBy('Points')" class = 'thOption' ng-class = "{'tabSel': sortInfo.method == 'Points'}">
					Points
				</span>
			</th>
		    <th class = 'dAdded'>
		    	<a ng-click = "sortBy('Date Added')" class = 'thOption' ng-class = "{'tabSel': sortInfo.method == 'Date Added'}">
		    		Date Added
		    	</a>
		    </th>
		</tr>

		<tr ng-repeat = 'book in books'>
			<td>
				<div id = "likeBox">
					<i ng-click = "getFeedback(prompt, true)" ng-class= "{'fa fa-thumbs-up': book.liked, 'fa fa-thumbs-o-up': !book.liked}" aria-hidden="true"></i><br>
					<i ng-click = "getFeedback(prompt, false)" ng-class= "{'fa fa-thumbs-down': book.disliked, 'fa fa-thumbs-o-down': !book.disliked}" aria-hidden="true"></i><br>
				</div>

			</td>
			<td style = 'width:80%'>
				<h3 ng-click = "viewBook(book)">{{book.title}}</h6>
				<p class = 'authoredBy'>by {{book.authorString}}</p>
				<p class = 'sumBook'>{{book.sampleBody}}...</p>
			</td>
			<td>
				{{book.likeTally}}<i class="smallStar fa fa-star" aria-hidden="true"></i>
			<td class = 'dAdded'>
				{{book.dateAdded}}
			</td>
		</tr>
	</table>
</div>