<div class = "connect" ng-controller = "promptController">

	<div id = "addPromptBox">
		<h1>Add a prompt!</h1>
		<p>{{error}}</p>

		<input class = "wideNarrow" type = "text" ng-model = "newPrompt.text">
		<button ng-click = "addPrompt()">Add</button>

		<p>{{charLeft}} characters left.</p>
	</div>

	<div id = "allPromptBox">

		<div promptTitles>
			<h1>All Prompts By {{sortInfo.method}}</h1>
			<!--Range: <select class = 'dropDown' ng-if = "sortInfo.method == 'Points'" ng-model = "sortInfo.range" ng-change = 'sortSwitch'>
				<option value = "recent" selected="selected">Recent</option>
				<option value = "all"> All Time</option>
			</select>-->
		</div>

		<table>
			<tr>
				<th></th>
				<th>Prompt</th>
				<th> 
					<a ng-click = "sortBy('Points')" ng-class = "{'tabSel': sortInfo.method == 'Points'}">
						Points
					</span>
				</th>
			    <th>
			    	<a ng-click = "sortBy('Date Added')" ng-class = "{'tabSel': sortInfo.method == 'Date Added'}">
			    		Date Added
			    	</a>
			    </th>
			</tr>
			<tr ng-repeat = 'prompt in prompts'>
				<td>
					<div id = "likeBox">
						<i ng-click = "getFeedback(false)" ng-class= "{'fa fa-thumbs-down': prompt.disliked, 'fa fa-thumbs-o-down': !prompt.disliked}" aria-hidden="true"></i>
						<i ng-click = "getFeedback(true)" ng-class= "{'fa fa-thumbs-up': prompt.liked, 'fa fa-thumbs-o-up': !prompt.liked}" aria-hidden="true"></i>
					</div>

				</td>
				<td>
					{{prompt.text}}
					<p class = "authoredBy">by {{prompt.author}}</p>
				</td>
				<td>
					{{prompt.likeTally}}<i class="smallStar fa fa-star" aria-hidden="true"></i>
				<td>
					{{prompt.dateAdded}}
				</td>
			</tr>
		</table>

		<div id = 'backNextBox'>
			<button id = 'back'  ng-disabled = 'pNum == 0' ng-click = 'changePage(pNum - 1)'>
				Back
			</button>

			<button id = 'next' ng-disabled = 'prompts.length < 20' ng-click = 'changePage(pNum + 1)'>
				Next
			</button>
		</div>
	</div>