<div ng-controller='proseArenaController'>
	<div id = 'buttonBox'>
		<button id = "next" class = "butt">Next</button>
	</div>
	<div id = 'title'>
		<input ng-disabled = "!title" type = "text" ng-model = "title" value = "Enter Title Here"...>
	</div>
	<div id = 'proseBox'>
	</div>

	<div id = 'friendBox'>
		<div ng-if = "mode == 'pair'" id = "peercomment"></div>
			<p>You have been connected with {{peer}}.</p>
		<div ng-if = "mode == 'lightning'" id = "peerList">
			<p ng-repeat = "p in peers">{{p}}</p>
		</div>
	</div>

	<div id = 'timeBox'>
		<h4 id = 'time'>{{timeLeft}}</h4>
	</div>

	<div id = "enterArea">
		<div id = "explanationArea">
			<p id = "explanationText">{{explanationText}}</p>
		</div>
		<textarea id = "sentenceBox" ng-model = 'userSentence' ng-change = 'validateMidway()'></textarea>
		<p id = "charLeft">{{charLeft}}</p>
		<button id = "enter">Enter</button>
	</div>

</div>