<div ng-controller='proseArenaController'>
	<div id = 'buttonBox'>
		<button id = "next" class = "butt">Next</button>
	</div>
	<div id = 'titleBox'>
		<div id = 'title'>
			Title: <input ng-disabled = '!titleAllowed' ng-change = "titleChanging()" type = "text" ng-model = "title">
		</div>
		<div id = "titlePoll" ng-if = "privatePoll">
			{{titleLeft}} characters left;
			<button><i class="fa fa-times" aria-hidden="true" ng-click = 'titlePoll(false)'></i></button>
			<button><i class="fa fa-check" aria-hidden="true" ng-click = 'titlePoll(true)'></i></button>
		</div>


	<div id = 'proseBox'>
		<p ng-repeat = "paragraph in bookText">{{paragraph}}</p>
	</div>

	<div id = 'friendBox'>
		<div ng-if = "mode == 'pair'" id = "peercomment"></div>
			<p>You have been connected with {{peer}}.</p>
		<div ng-if = "mode == 'lightning'" id = "peerList">
			<p ng-repeat = "p in peers">{{p}}</p>
		</div>
	</div>

	<div id = 'timeBox'>
		<h4 id = 'time'>{{timeLeft}}</h4>
	</div>

	<div id = "enterArea">

		<div id = "explanationArea">
			<p id = "explanationText">{{explanationText}}</p>
		</div>

		<div id = "explainPoll" ng-if = "openPoll">
			<p>You have {{pollTime}}s to answer.</p>
			<button><i ng-click = "pollAnswer(false)"class="fa fa-times" aria-hidden="true"></i></button>
			<button ng-click="pollAnswer(true)"><i class="fa fa-check" aria-hidden="true"></i></button>
		</div>

		<div id = "writeBox" ng-if = "!samplePick">

			<textarea id = "sentenceBox" ng-disabled = "!myTurn" ng-model = 'book.sentence' ng-change = 'userTyping()'>
			</textarea>

			<p id = "charLeft">{{charLeft}} characters left</p>

			<button id = "paragraph" ng-model = "paragraph" ng-disabled = "bookText.length == 0 || !myTurn" ng-click = "paragraph = !paragraph">
				<i class="fa fa-paragraph" aria-hidden="true" ng-class = "{blueIcon: paragraph}"></i>
			</button>

			<button id = "enter" ng-click = "submitTextChunk()" ng-disabled = "!myTurn">
				Enter
			</button>

			<button id = "save" ng-click = "finSubmit()">
				Fin
			</button>

		</div>

		<div id = "sampleBox" ng-if = "sampleBox">

			<h5>Summary</h5>
			<p>{{sampleText}}</p>

		</div>
 	</div>

</div>